@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("github.com") {
    .repo-and-owner.css-truncate-target, .repo-description.css-truncate-target {
       white-space: normal;
       overflow: visible;
       line-height: 1.2;
    }
}
